@keyframes animacao {
    from {background-color: aqua;}
    to {background-color: blue;}
}

.animation-div {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: animacao;
    animation-duration: 5s;
}

 @keyframes animação2{
    0% {}
    30% {width: 100px;}
    60% {background-color: yellow;}
    80% {left: 100px; background-color: yellowgreen;}
    100% {height: 100px;} 

    
}

.animation-div2 { 
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: animação2;
    animation-duration: 6s;
    position: relative;
} 

@keyframes animação3 {
    from {left: 0;}
    to {left: 200px; background-color: rgb(64, 255, 25);}
}
.animation-div3 {
    width: 100px;
    height: 100px;
    background-color:rgb(235, 243, 14);
    animation-name: animação3;
    animation-duration: 3s;
    position: relative;
    animation-delay: 1s; 
    animation-iteration-count: 4;

}
@keyframes animação4 {
    from {left: 0px;}
    to {left: 500px;}
}
.box {
    background-color: limegreen;
    width: 50px;
    height: 50px;
    animation-name: animação4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
}
#animation-div4 {
animation-timing-function: linear;
}
#animation-div5 {
    animation-timing-function: ease;
}
#animation-div6 {
    animation-timing-function: ease-in;
}
#animation-div7 {
    animation-timing-function: ease-out;
}
#animation-div8{ 
    animation-timing-function: ease-in-out;
}
@keyframes animação5 {
0% {left: 0px;}
25% { left: 20px;background-color: cyan;}
60% { left: 100px;background-color: darkcyan;}
100% { left: 60px; background-color: darkseagreen;}
}
.animation-div9 {
    background-color: chartreuse;
    width: 50px;
    height: 50px;
    position: relative;
    animation: animação5 8s ease 2s infinite ;
}
.btn {
 display: block;
 position: relative;
 padding: 25px;
 margin-bottom: 25px;
 width: 150px;
 height: 75px;
 color: black;
 text-transform: uppercase;
 background-color: beige;
 border: 1px solid #333; 
cursor: pointer;
text-align: center;
transition: 1s;
}
.btn:hover {
color: beige;
background-color: black;
}
.transmition {
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    transition: 4s;
}
.transmition:hover {
    width: 300px;
}
@font-face {
    font-family: "Lage Grafica";
    src: url(fonts/lage_grafica.ttf);
}
.fontface {
    font-family: "Lage Grafica";
}